.myBox {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.myInput {
  height: 18px;
}
.container {
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
}
